@font-face {font-family: "Qotho W01 Thin Condensed";
  src: url("../fonts/Qotho-thin/Qotho.eot"); /* IE9*/
  src: url("../fonts/Qotho-thin/Qotho.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Qotho-thin/Qotho.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Qotho-thin/Qotho.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Qotho-thin/Qotho.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Qotho-thin/Qotho.svg#Qotho W01 Medium Condensed") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Qotho W01 Medium Condensed";
  src: url("../fonts/Qotho-medium/Qotho.eot"); /* IE9*/
  src: url("../fonts/Qotho-medium/Qotho.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Qotho-medium/Qotho.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Qotho-medium/Qotho.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Qotho-medium/Qotho.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Qotho-medium/Qotho.svg#Qotho W01 Medium Condensed") format("svg"); /* iOS 4.1- */
}


@font-face {
      font-family: 'unigine';
      src: url('../fonts/icons/unigine.eot');
      src: url('../fonts/icons/unigine.eot#iefix') format('embedded-opentype'),
           url('../fonts/icons/unigine.woff') format('woff'),
           url('../fonts/icons/unigine.ttf') format('truetype'),
           url('../fonts/icons/unigine.svg#unigine') format('svg');
      font-weight: normal;
      font-style: normal;
}



 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "unigine";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  // display: inline-block;
  // text-decoration: inherit;
  // width: 1em;
  // margin-right: .2em;
  // text-align: center;
  // /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  // line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;


  -webkit-text-stroke-width: 0;
 
  /* you can be more comfortable with increased icons size */
  // font-size: 120%;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-no-photo:before { content: '\e801'; } 
.icon-unigine:before { content: '\e802'; } 
.icon-settings:before { content: '\e803'; } 
.icon-play-circled:before { content: '\f144'; } 



html, body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 

    font-family:"Qotho W01 Medium Condensed", "Arial", "sans-serif" !important;
    font-size: 16px;
    font-style:normal;
    // -webkit-font-smoothing: antialiased;
    // -webkit-text-stroke-width: 0.2px;
    // -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
    min-width: 1024px; /* Минимальная Ширина слоя */
    margin: 0 auto; /* Выравнивнить весь блок по центру */
    background: #f0f0f0; /* Цвет фона */

    // тестовая рамка
    // border: 1px solid red;
}

.main-page {
    overflow: hidden; /* Отменяем действие float */
    width: 100%;
    // тестовая рамка
    // border: 1px solid green;
}

.site-header {
    background: #27282D; /* Цвет фона */
    font-size: 0.9rem; /* Размер шрифта */
    padding-top: 10px;
    // тестовая рамка
    // border: 1px solid orange;

    #user, #settings {
       background: #393B42;
       display: inline-block;
       padding: 5px 10px 5px 10px;
       text-align: center;
      //для всех ссылок в хедере 
       a {
        display: block;
        text-decoration: none;  
        color: #D1D1D1;
       }
    }
  
    #user {
      min-width: 220px;
      width: 20%;
      vertical-align: center;

      #user-avatar {
        display: inline-block;
        text-align: center;
        background: #FEFEFE; 
        width: 35px; 
        height: 35px; 
        border-radius: 20px;
        margin-bottom: 2px;
      }

      .icon-no-photo {
        font-size: 30px;
        height: 90%;
        color: #393B42;
      }
    }

    #settings {
      width: 15%;
      margin-left:5px;
      
      .icon-settings {
        font-size: 30px;
      }

    }

    #logo {
      display: inline;

      width: 15%;
      float: right;
      text-align: right;
      padding: 10px 10% 0 0;

      a {
        text-decoration: none;  
        color: #D1D1D1; 
      }

      // img {
      //   height: 10%;
      //   width:80%;
      // }

      #credo {
        font-size: 0.58rem;
        color: #72A237;
        padding:0;
        margin:0;
      }

    }
}


#content {
  width: 83%;
  margin-left: 17%; /* Отступ слева */
  background: #ECECEC; /* Цвет фона содержимого*/
  padding: 0 3%;
  min-height: 800px;
  // тестовая рамка
  // border: 1px solid yellow;

     /* начало плиточного содержимого*/

    /* стили картинок, видое и видео-фреймов внутри плиток и всего контента*/
    img, iframe {
      max-width: 100%;
      height: auto;
      display: block;
    }


    #page-name {
      font-family:"Qotho W01 Medium Condensed", "Arial", "sans-serif";
      font-size: 2rem;
      padding: 1% 1% 1% 0;
    }

    /* элемент-плитки с содержанием */
    .item {
        width: 250px;
        font-family:"Arial", "sans-serif";
        display: inline-block;
        background: #fff;
        margin: 0 0.5em 1.5em 0;
        box-shadow: 2px 2px 4px 2px #ccc; /* Внешняя тень плиток */
        text-align: center;    
       
        /* стили ссылок внутри плитки */
       a {
          text-decoration: none;
          color: #555555;
          margin: 0 10px;
        }

        /* стили ссылок внутри плитки при наведении */
        a:hover {
          color: #E88F00;    
          border-bottom: 1px dotted #9F1D35;
        }

        .item-preview {
          padding: 1em 1em 0.5em 1em;
        }

        .details {
          padding-bottom: 5px;
        }

        .item-name {
          font-weight: bold;
          padding: 5px;
        }

        .item-description {
          font-size: 0.5rem;
          padding: 5px;
          color: #787878;
        }


        .manager-panel {
            border: 1px solid #fff;
            padding: 5px 0 5px 0;
            background: #D5D5D5;

            .icon-play-circled {
              font-size: 25px;
            }
        }
    }
}

//быстрый CSS хак для создания колонок одинаковой высоты без JS
//добавляем отступ снизу падингом и убираем маргином 
//работает пока содержимое страниы не достигнет 10000px 
#left-menu, #content {
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}

#left-menu {
  width: 17%; 
  float: left;
  background: #28292E;
  // тестовая рамка
  // border: 1px solid blue;


  //всё меню
  ul#menu-list {
    background: #393B42;
    margin: 0;
    padding: 0;

    //для всех ссылок в меню 
    a {
      display: block;
      text-decoration: none;  
    }

    //для всех ul и li в меню
    ul, li { 
      padding: 0;
      list-style-type: none;
    }
    
    //каждый элемент главный список
    &>li {
      font-size: 1.3rem; /* Размер шрифта */
      //линия между главными кнопками менюы
      margin-bottom: 1px;
      background: #A0BD7D;
      
    }    

    //каждый элемент главный список наведение
    &>li:hover {

    }

    //элемент ссылка главная 
    &>li>a {   
      color: #393B42;  
      padding: 10px;
      list-style-type:none;
      text-align: center;
    }

    //элемент ссылка главная - наведение
    //элемент ссылка главная - активная
    &>li>a:hover, &>li>a.active  {
      background: #ECECEC;
      border-left: 5px #A0BD7D solid;
      padding-left: 15px;
    }
    
    //каждый элемент UL второго уровеня списка
    li>ul {
      padding: 5px 0 5px 0;
      font-size: 0.9rem;
      background: #383A41;
      letter-spacing: 1px;
    }
    
    //каждый элемент LI второго уровеня списка
    li>ul>li {
      padding: 3px 0 3px 0;
    }    

    //каждый элемент LI второго уровеня списка при наведении
    //каждый элемент LI второго уровеня списка с активным классом
    li>ul>li:hover, li>ul>li.active {
      background: #586B4C;
    }

    //элемент ссылка второго уровня 
    &>li>ul>li>a {
      font-family:"Qotho W01 Thin Condensed" !important;
      color: #D4D6D2;
      padding-left: 20%;

      //элемент ссылка второго уровня до содержимого переопределяем маркер
      &:before  {
        content: "\2022\a0\a0";
      }  
    }
  }
}



// модальное окно
  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
  

    &:target {
      display: block;
      pointer-events: auto;
    }


    &>div {
      width: 600px;
      height: 400px;
      position: relative;
      margin: 10% auto;
      padding: 1%;
      background: #ECECEC;

    }
  }

  .buttons {
    width: 40%;
    padding: 10px 0 10px 0;


    line-height: 25px;
    position: absolute;
    text-align: center;

    text-decoration: none;

    display: inline-block;

    .close {
      float: left;
      background: #D5D5D5; 
    }

    .run {
      float: right;
      background: #7CB24F;
      color: #FFFFFF;
    }

    &:hover { 
      background: #00d9ff;
      color: #E88F00;    
      border-bottom: 1px dotted #9F1D35; }
  }










