@charset "UTF-8";
@font-face {
  font-family: "Qotho W01 Thin Condensed";
  src: url("../fonts/Qotho-thin/Qotho.eot");
  /* IE9*/
  src: url("../fonts/Qotho-thin/Qotho.eot?#iefix") format("embedded-opentype"), url("../fonts/Qotho-thin/Qotho.woff2") format("woff2"), url("../fonts/Qotho-thin/Qotho.woff") format("woff"), url("../fonts/Qotho-thin/Qotho.ttf") format("truetype"), url("../fonts/Qotho-thin/Qotho.svg#Qotho W01 Medium Condensed") format("svg");
  /* iOS 4.1- */ }

@font-face {
  font-family: "Qotho W01 Medium Condensed";
  src: url("../fonts/Qotho-medium/Qotho.eot");
  /* IE9*/
  src: url("../fonts/Qotho-medium/Qotho.eot?#iefix") format("embedded-opentype"), url("../fonts/Qotho-medium/Qotho.woff2") format("woff2"), url("../fonts/Qotho-medium/Qotho.woff") format("woff"), url("../fonts/Qotho-medium/Qotho.ttf") format("truetype"), url("../fonts/Qotho-medium/Qotho.svg#Qotho W01 Medium Condensed") format("svg");
  /* iOS 4.1- */ }

@font-face {
  font-family: 'unigine';
  src: url("../fonts/icons/unigine.eot");
  src: url("../fonts/icons/unigine.eot#iefix") format("embedded-opentype"), url("../fonts/icons/unigine.woff") format("woff"), url("../fonts/icons/unigine.ttf") format("truetype"), url("../fonts/icons/unigine.svg#unigine") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "unigine";
  font-style: normal;
  font-weight: normal;
  speak: none;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  -webkit-text-stroke-width: 0;
  /* you can be more comfortable with increased icons size */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-no-photo:before {
  content: '\e801'; }

.icon-unigine:before {
  content: '\e802'; }

.icon-settings:before {
  content: '\e803'; }

.icon-play-circled:before {
  content: '\f144'; }

html, body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Изменения алгоритма расчета ширины и высоты элемента.*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Qotho W01 Medium Condensed", "Arial", "sans-serif" !important;
  font-size: 16px;
  font-style: normal; }

.page-wrapper {
  min-width: 1024px;
  margin: 0 auto;
  background: #f0f0f0; }

.main-page {
  overflow: hidden;
  /* Отменяем действие float */
  width: 100%; }

.site-header {
  background: #27282D;
  font-size: 0.9rem;
  padding-top: 10px; }
  .site-header #user, .site-header #settings {
    background: #393B42;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-align: center; }
    .site-header #user a, .site-header #settings a {
      display: block;
      text-decoration: none;
      color: #D1D1D1; }
    .site-header #user:hover, .site-header #settings:hover {
      background: #586B4C; }
  .site-header #user {
    min-width: 220px;
    width: 20%;
    vertical-align: center; }
    .site-header #user #user-avatar {
      display: inline-block;
      text-align: center;
      background: #FEFEFE;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      margin-bottom: 2px; }
    .site-header #user .icon-no-photo {
      font-size: 30px;
      color: #393B42; }
  .site-header #settings {
    width: 15%;
    margin-left: 5px; }
    .site-header #settings .icon-settings {
      font-size: 30px; }
  .site-header #logo {
    display: inline;
    width: 15%;
    float: right;
    text-align: right;
    padding: 10px 10% 0 0; }
    .site-header #logo a {
      text-decoration: none;
      color: #D1D1D1; }
    .site-header #logo #credo {
      font-size: 0.58rem;
      color: #72A237;
      padding: 0;
      margin: 0; }

#content {
  width: 83%;
  margin-left: 17%;
  /* Отступ слева */
  background: #ECECEC;
  /* Цвет фона содержимого*/
  padding: 0 3%;
  min-height: 800px;
  /* стили картинок, видое и видео-фреймов внутри плиток и всего контента*/
  /* начало плиточного содержимого*/
  /* элемент-плитки с содержанием */ }
  #content #page-name {
    font-family: "Qotho W01 Medium Condensed", "Arial", "sans-serif";
    font-size: 2rem;
    padding: 1% 1% 1% 0; }
  #content img, #content iframe {
    height: auto;
    display: block;
    max-width: 218px;
    max-height: 218px; }
  #content .item {
    width: 250px;
    font-family: "Arial", "sans-serif";
    display: inline-block;
    background: #fff;
    margin: 0 0.5em 1.5em 0;
    box-shadow: 2px 2px 4px 2px #ccc;
    /* Внешняя тень плиток */
    text-align: center;
    /* стили ссылок внутри плитки */
    /* стили ссылок внутри плитки при наведении */ }
    #content .item a {
      text-decoration: none;
      color: #555555;
      margin: 0 10px; }
    #content .item a:hover {
      color: #E88F00;
      border-bottom: 1px dotted #9F1D35; }
    #content .item .item-preview {
      padding: 1em 1em 0.5em 1em;
      min-height: 218px; }
    #content .item .item-details {
      padding-bottom: 5px; }
    #content .item .item-name {
      font-weight: bold;
      padding: 5px; }
    #content .item .item-description {
      font-size: 0.5rem;
      padding: 5px;
      color: #787878; }
    #content .item .item-name, #content .item .item-description {
      white-space: nowrap;
      /* Отменяем перенос текста */
      overflow: hidden;
      /* Обрезаем содержимое */
      text-overflow: ellipsis;
      /* Многоточие */ }
    #content .item .item-manager-panel {
      border: 1px solid #fff;
      padding: 5px 0 5px 0;
      background: #D5D5D5; }
      #content .item .item-manager-panel .icon-play-circled {
        font-size: 25px; }

#left-menu, #content {
  margin-bottom: -10000px;
  padding-bottom: 10000px; }

#left-menu {
  width: 17%;
  float: left;
  background: #28292E; }
  #left-menu ul#menu-list {
    background: #393B42;
    margin: 0;
    padding: 0; }
    #left-menu ul#menu-list a {
      display: block;
      text-decoration: none; }
    #left-menu ul#menu-list ul, #left-menu ul#menu-list li {
      padding: 0;
      list-style-type: none; }
    #left-menu ul#menu-list > li {
      font-size: 1.3rem;
      /* Размер шрифта */
      margin-bottom: 1px;
      background: #A0BD7D; }
    #left-menu ul#menu-list > li > a {
      color: #393B42;
      padding: 10px;
      list-style-type: none;
      text-align: center; }
    #left-menu ul#menu-list > li > a:hover, #left-menu ul#menu-list > li > a.active {
      background: #ECECEC;
      border-left: 5px #A0BD7D solid;
      padding-left: 15px; }
    #left-menu ul#menu-list li > ul {
      padding: 5px 0 5px 0;
      font-size: 0.9rem;
      background: #383A41;
      letter-spacing: 1px; }
    #left-menu ul#menu-list li > ul > li {
      padding: 3px 0 3px 0; }
    #left-menu ul#menu-list li > ul > li:hover, #left-menu ul#menu-list li > ul > li.active {
      background: #586B4C; }
    #left-menu ul#menu-list > li > ul > li > a {
      font-family: "Qotho W01 Thin Condensed" !important;
      color: #D4D6D2;
      padding-left: 20%; }
      #left-menu ul#menu-list > li > ul > li > a:before {
        content: "\2022\a0\a0"; }

.modal-window {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none; }
  .modal-window:target {
    display: block;
    pointer-events: auto; }
  .modal-window > div {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 10% auto;
    padding: 1%;
    background: #ECECEC; }
  .modal-window #modal-header {
    font-size: 1.3rem;
    color: #333333;
    font-weight: bold;
    border-bottom: 1px solid #CFCFD0;
    padding: 10px 0 10px 70px; }
  .modal-window #modal-message {
    padding: 40px 140px 80px 10px; }
    .modal-window #modal-message .modal-message-item {
      text-align: right; }
    .modal-window #modal-message select, .modal-window #modal-message input {
      margin: 12px 0 12px 0; }
    .modal-window #modal-message select {
      width: 300px;
      height: 25px; }
    .modal-window #modal-message input {
      text-align: left;
      margin-left: 32.5%; }
  .modal-window #modal-buttons {
    width: 100%;
    margin-left: 8%; }
    .modal-window #modal-buttons .buttons {
      width: 35%;
      text-align: center;
      color: black;
      text-decoration: none;
      display: block;
      padding: 10px 20px 10px 20px; }
      .modal-window #modal-buttons .buttons:hover {
        background: #586B4C; }
    .modal-window #modal-buttons .cancel {
      float: left;
      display: inherit;
      background: #D5D5D5; }
    .modal-window #modal-buttons .run {
      float: left;
      display: inherit;
      background: #7CB24F;
      color: #FFFFFF; }
